In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import sklearn as sk
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.metrics import r2_score
df = pd.read_csv("https://raw.githubusercontent.com/cmhamakawa/Data_Science_NBA_Project/master/Datasets/preprocessed_nba_dataset(w_years_of_exp).csv")
df.head()
# Importing Libraries and Dataset

,Unnamed: 0,SalStartYr,Salary,GS,MP,FG,FGA,FG%,3P,3PA,...,TRB,AST,STL,BLK,TOV,PF,PTS,years_of_exp,salary_cap,Per_of_Salary_Cap
0,7454,2001,5062500.0,12.0,14.5,1.5,3.8,0.387,0.1,0.3,...,2.0,0.8,0.5,0.4,1.2,1.9,3.8,4,42500000,0.119118
1,7455,2001,11250000.0,81.0,40.0,7.5,15.8,0.472,0.1,0.8,...,9.1,3.1,1.1,1.0,2.9,2.9,20.5,5,42500000,0.264706
2,7456,2001,1995741.0,0.0,8.7,0.7,2.2,0.321,0.2,0.6,...,1.0,1.4,0.6,0.0,1.0,1.1,2.0,6,42500000,0.046959
3,7457,2001,1418400.0,24.0,21.3,3.7,8.8,0.417,0.3,0.7,...,2.2,1.0,0.7,0.1,1.2,2.1,9.5,1,42500000,0.033374
4,7458,2001,11250000.0,82.0,38.2,7.7,16.0,0.480,2.5,5.7,...,5.2,4.6,1.5,0.2,2.5,2.3,22.0,5,42500000,0.264706

In [4]:
x = df[['years_of_exp', 'MP', 'GS', 'PTS', 'FG', 'AST', 'STL', 'BLK', 'FTA']].values
y = df.iloc[:,29].values
# Setting Predictors/Target Variables

In [5]:
labelencoder = LabelEncoder()
x[:,0] = labelencoder.fit_transform(x[:,0])
x[:,1] = labelencoder.fit_transform(x[:,1])

ct = ColumnTransformer(
    [('one_hot_encoder', OneHotEncoder(categories='auto'), [0, 1])],
    remainder='passthrough'                                         
)
x = ct.fit_transform(x)
# Encoding Variables

In [6]:
print(x.shape)
print(y.shape)

(6222, 422)
(6222,)

In [7]:
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 0, test_size = 0.2)
param = {'n_estimators': 500,
          'max_depth': 4,
          'min_samples_split': 5,
          'learning_rate': 0.01,
          'loss': 'ls'}
# Splitting into Training/Test

In [9]:
regressor = GradientBoostingRegressor(**param)
regressor.fit(x_train, y_train)
# Performing Gradient Boost Regression

GradientBoostingRegressor(learning_rate=0.01, max_depth=4, min_samples_split=5,
                          n_estimators=500)

In [10]:
y_predict = regressor.predict(x_test)
r2_score(y_test, y_predict)
# Finding R2 Score

0.6750305728089472