**NBA Data Cleaning**

We first import the pandas package.

In [ ]:
import pandas as pd

We obtain the dataset link from GitHub (remote respository).  The dataset is called **Merged**  We read the excel file into a data frame.

In [ ]:
url1 = 'https://github.com/cmhamakawa/Data_Science_NBA_Project/blob/master/Datasets/Merged_NBA_Dataset(1970-2019).xlsx?raw=true'
adv_df = pd.read_excel(url1) # advanced data set is now in data frame
adv_df[1:6]

   Unnamed: 0  Rk                Player  StartYr  ...  BLK  TOV   PF   PTS
1           1   2  Kareem Abdul-Jabbar*     1970  ...  NaN  NaN  3.2  31.7
2           2   3             Don Adams     1970  ...  NaN  NaN  4.2  11.4
3           3   4          Rick Adelman     1970  ...  NaN  NaN  2.6  12.6
4           4   5          Lucius Allen     1970  ...  NaN  NaN  1.8   7.1
5           5   6        Cliff Anderson     1970  ...  NaN  NaN  1.0   3.1

[5 rows x 37 columns]

We drop the first two columns (Unnamed: 0, Rk) and we add the column years of experience (years_of_exp).

In [ ]:
adv_df.drop(adv_df.columns[[0,1]], axis = 1, inplace = True)
adv_df['years_of_exp'] = adv_df.groupby('Player').cumcount()

We assume that if an NBA player is in the dataset, they have at least one year of experience.  In other words, we count years of experience at the end of a season.  So, we add 1 to the column years of experience.

In [ ]:
def add_one(x):
	return x + 1
adv_df['years_of_exp'] = adv_df['years_of_exp'].apply(add_one)

In [ ]:
adv_df[adv_df['Player'] == 'LeBron James']

             Player  StartYr  EndYr  SalStartYr  ...  TOV   PF   PTS years_of_exp
11454  LeBron James     2003   2004        2004  ...  3.5  1.9  20.9            1
11908  LeBron James     2004   2005        2005  ...  3.3  1.8  27.2            2
12364  LeBron James     2005   2006        2006  ...  3.3  2.3  31.4            3
12822  LeBron James     2006   2007        2007  ...  3.2  2.2  27.3            4
13284  LeBron James     2007   2008        2008  ...  3.4  2.2  30.0            5
13731  LeBron James     2008   2009        2009  ...  3.0  1.7  28.4            6
14189  LeBron James     2009   2010        2010  ...  3.4  1.6  29.7            7
14635  LeBron James     2010   2011        2011  ...  3.6  2.1  26.7            8
15094  LeBron James     2011   2012        2012  ...  3.4  1.5  27.1            9
15551  LeBron James     2012   2013        2013  ...  3.0  1.4  26.8           10
16033  LeBron James     2013   2014        2014  ...  3.5  1.6  27.1           11
16523  LeBron James     2014   2015        2015  ...  3.9  2.0  25.3           12
17001  LeBron James     2015   2016        2016  ...  3.3  1.9  25.3           13
17476  LeBron James     2016   2017        2017  ...  4.1  1.8  26.4           14
17990  LeBron James     2017   2018        2018  ...  4.2  1.7  27.5           15
18540  LeBron James     2018   2019        2019  ...  3.6  1.7  27.4           16
19062  LeBron James     2019   2020        2020  ...  3.9  1.8  25.3           17

[17 rows x 36 columns]

We only use players from the years 1990 and on.

In [ ]:
adv_df = adv_df[adv_df['StartYr']>=1990]
adv_df[:6]

                  Player  StartYr  EndYr  ...   PF   PTS  years_of_exp
5782      Alaa Abdelnaby     1990   1991  ...  0.9   3.1             1
5783  Mahmoud Abdul-Rauf     1990   1991  ...  2.2  14.1             1
5784          Mark Acres     1990   1991  ...  3.2   4.2             4
5785       Michael Adams     1990   1991  ...  2.5  26.5             6
5786        Mark Aguirre     1990   1991  ...  2.7  14.2            10
5787         Danny Ainge     1990   1991  ...  2.4  11.1            10

[6 rows x 36 columns]

We examine missing value counts and remove rows/columns as needed.

In [ ]:
print("Shape", adv_df.shape)
#examine missing value counts
counts = {}
for column in adv_df:
  s = adv_df[column].isna().sum()
  if s>0:
    counts[column] = s

counts

Shape (13560, 36)

{'2P%': 79,
 '3P%': 2024,
 'FG%': 49,
 'FT%': 443,
 'Salary': 3089,
 'SalaryInfl': 3089,
 'eFG%': 49}

In [ ]:
#FASTER WAY TO CHECK NAs
print("Shape", adv_df.shape)

NAs = dict(adv_df.isna().sum())
output = dict((k, v) for k, v in NAs.items() if v > 0)
output

Shape (13560, 36)

{'2P%': 79,
 '3P%': 2024,
 'FG%': 49,
 'FT%': 443,
 'Salary': 3089,
 'SalaryInfl': 3089,
 'eFG%': 49}

In [ ]:
#drop rows with remaining NAN values
adv_df.dropna(inplace=True)
adv_df.shape

(9103, 36)

We get rid of columns that are not relevant to our purpose of predicting salaries.

We load the salary cap dataset, **NBA_Salary_Cap**.

In [ ]:
# adjusting salary cap for inflation (not needed for final data set)

# !pip install cpi
# import cpi
# def inflate_column(data, column):
#     """
#     Adjust for inflation the series of values in column of the   
#     dataframe data
#     """
#     return data.apply(lambda x: cpi.inflate(x[column], 
#                       x.year), axis=1)     # converts the dollar amount in particular year to today's value
    
url2 = 'https://github.com/cmhamakawa/Data_Science_NBA_Project/blob/master/Datasets/NBA_Salary_Cap.xlsx?raw=true'
salary_cap_data = pd.read_excel(url2) # advanced data set is now in data frame

# salary cap data from 1990-2020
salary_cap_data = salary_cap_data.iloc[6:38]
salary_cap_data

       Year  SalaryCap  InflationSalaryCap
6   1990-91   11871000          22283140.0
7   1991-92   12500000          22773891.0
8   1992-93   14000000          24778161.0
9   1993-94   15175000          26176363.0
10  1994-95   15964000          26785632.0
11  1995-96   23000000          37493952.0
12  1996-97   24363000          38802016.0
13  1997-98   26900000          42195324.0
14  1998-99   30000000          46042748.0
15  1999-00   34000000          50477681.0
16  2000-01   35500000          51258504.0
17  2001-02   42500000          60412118.0
18  2002-03   40271000          55969987.0
19  2003-04   43840000          59341564.0
20  2004-05   43870000          57429410.0
21  2005-06   49500000          62777896.0
22  2006-07   53135000          65516964.0
23  2007-08   55630000          66059550.0
24  2008-09   58680000          69929958.0
25  2009-10   57700000          67649793.0
26  2010-11   58044000          65969238.0
27  2011-12   58044000          64640100.0
28  2012-13   58044000          63707436.0
29  2013-14   58679000          63372330.0
30  2014-15   63065000          68023079.0
31  2015-16   70000000          74561208.0
32  2016-17   94143000          98194497.0
33  2017-18   99093000         100892064.0
34  2018-19  101869000         101869000.0
35  2019-20  109140000                 NaN
36  2020-21  109140000                 NaN

In [ ]:
# Christine
adv_df.columns

Index(['Player', 'StartYr', 'EndYr', 'SalStartYr', 'SalEndYr', 'Salary',
       'SalaryInfl', 'Pos', 'Age', 'Tm', 'G', 'GS', 'MP', 'FG', 'FGA', 'FG%',
       '3P', '3PA', '3P%', '2P', '2PA', '2P%', 'eFG%', 'FT', 'FTA', 'FT%',
       'ORB', 'DRB', 'TRB', 'AST', 'STL', 'BLK', 'TOV', 'PF', 'PTS',
       'years_of_exp'],
      dtype='object')

We format the salary_cap dataset and merge it with our main dataset.

In [ ]:
# Merge salary_cap_data with advanced dataframe

def partition(val):
  return int(val.partition("-")[0])
  
salary_cap_data.Year = salary_cap_data.Year.apply(partition)

In [ ]:
salary_cap_data

    Year  SalaryCap  InflationSalaryCap
6   1990   11871000          22283140.0
7   1991   12500000          22773891.0
8   1992   14000000          24778161.0
9   1993   15175000          26176363.0
10  1994   15964000          26785632.0
11  1995   23000000          37493952.0
12  1996   24363000          38802016.0
13  1997   26900000          42195324.0
14  1998   30000000          46042748.0
15  1999   34000000          50477681.0
16  2000   35500000          51258504.0
17  2001   42500000          60412118.0
18  2002   40271000          55969987.0
19  2003   43840000          59341564.0
20  2004   43870000          57429410.0
21  2005   49500000          62777896.0
22  2006   53135000          65516964.0
23  2007   55630000          66059550.0
24  2008   58680000          69929958.0
25  2009   57700000          67649793.0
26  2010   58044000          65969238.0
27  2011   58044000          64640100.0
28  2012   58044000          63707436.0
29  2013   58679000          63372330.0
30  2014   63065000          68023079.0
31  2015   70000000          74561208.0
32  2016   94143000          98194497.0
33  2017   99093000         100892064.0
34  2018  101869000         101869000.0
35  2019  109140000                 NaN
36  2020  109140000                 NaN

We mapped/matched Salary Cap Years in Salary Cap data set to the Salary Start Year in our large data set with player statistics.

In [ ]:

cap_dict = dict(zip(salary_cap_data.Year, salary_cap_data.SalaryCap))
cap_dict_adjusted = dict(zip(salary_cap_data.Year, salary_cap_data.InflationSalaryCap))
adv_df['salary_cap'] = adv_df.SalStartYr.map(cap_dict)
#adv_df['salary_cap'] = adv_df.year.map(cap_dict)
adv_df['salary_cap_adjusted'] = adv_df.SalStartYr.map(cap_dict_adjusted)

In [ ]:
# ADHVAITH
adv_df.head()

                  Player  StartYr  ...  salary_cap  salary_cap_adjusted
5783  Mahmoud Abdul-Rauf     1990  ...    12500000           22773891.0
5784          Mark Acres     1990  ...    12500000           22773891.0
5785       Michael Adams     1990  ...    12500000           22773891.0
5786        Mark Aguirre     1990  ...    12500000           22773891.0
5787         Danny Ainge     1990  ...    12500000           22773891.0

[5 rows x 38 columns]

In [ ]:
adv_df.shape

(9103, 38)

We make our predictor column, Percent of Salary Cap (Per_of_Salary_Cap) by dividing the player's salary for that year by the salary_cap for that same year.

In [ ]:
# normalizing salaries by dividing salary by salary cap of that year
adv_df['Per_of_Salary_Cap'] = adv_df.Salary / adv_df.salary_cap
adv_df.head()

                  Player  StartYr  ...  salary_cap_adjusted  Per_of_Salary_Cap
5783  Mahmoud Abdul-Rauf     1990  ...           22773891.0            0.16064
5784          Mark Acres     1990  ...           22773891.0            0.04376
5785       Michael Adams     1990  ...           22773891.0            0.10472
5786        Mark Aguirre     1990  ...           22773891.0            0.09856
5787         Danny Ainge     1990  ...           22773891.0            0.05800

[5 rows x 39 columns]

In [ ]:
list(adv_df.columns)

['SalStartYr',
 'Salary',
 'GS',
 'MP',
 'FG',
 'FGA',
 'FG%',
 '3P',
 '3PA',
 '3P%',
 '2P',
 '2PA',
 '2P%',
 'eFG%',
 'FT',
 'FTA',
 'FT%',
 'ORB',
 'DRB',
 'TRB',
 'AST',
 'STL',
 'BLK',
 'TOV',
 'PF',
 'PTS',
 'years_of_exp',
 'salary_cap',
 'Per_of_Salary_Cap']

We download our preprocessed dataset.

In [ ]:
from google.colab import files
adv_df.to_csv('preprocessed_nba_dataset(1990-2020).csv') 
files.download('preprocessed_nba_dataset(1990-2020).csv')